<h2>საკანონმდებლო ბაზა</h2>
<p>არქიტექტორთა სერტიფიცირების სისტემა ეფუძნება საქართველოს მოქმედ კანონმდებლობას და მთავრობის დადგენილებებს.</p>

<h3>ძირითადი საკანონმდებლო აქტები:</h3>

<h4>1. საქართველოს სივრცის დაგეგმარების, არქიტექტურული და სამშენებლო საქმიანობის კოდექსი</h4>
<p>კოდექსი განსაზღვრავს არქიტექტორთა სავალდებულო სერტიფიცირების პრინციპებს და მოთხოვნებს.</p>

<h4>2. საქართველოს მთავრობის №134 დადგენილება „არქიტექტორებისა და ინჟინერ-მშენებლების სერტიფიცირების წესის შესახებ“</h4>
<p>დადგენილება დეტალურად აღწერს:</p>
<ul>
  <li>სერტიფიცირების პროცედურას</li>
  <li>კანდიდატთა მოთხოვნებს (განათლება, გამოცდილება)</li>
  <li>გამოცდის სტრუქტურას და შინაარსს</li>
  <li>სერტიფიკატის გაცემისა და განახლების წესებს</li>
</ul>

<h4>3. დადგენილება №255 „მშენებლობის ნებართვის გაცემის წესის შესახებ“</h4>
<p>განსაზღვრავს მშენებლობის ნებართვის გაცემის პროცედურას და არქიტექტორის როლს ამ პროცესში.</p>

<h4>4. დადგენილება №261 „ტერიტორიების გამოყენების რეგულაციების შესახებ“</h4>
<p>ადგენს ტერიტორიების გამოყენების წესებს, რაც არქიტექტორისთვის აუცილებელი ცოდნაა.</p>

<h4>5. დადგენილება №41 „სამშენებლო უსაფრთხოების წესების შესახებ“</h4>
<p>განსაზღვრავს სახანძრო უსაფრთხოების, ევაკუაციის და სტრუქტურული მდგრადობის მოთხოვნებს.</p>

<h4>6. დადგენილება №732 „მისაწვდომობის ეროვნული სტანდარტების შესახებ“</h4>
<p>ადგენს შშმ პირებისთვის მისაწვდომი გარემოს შექმნის მოთხოვნებს.</p>

<h3>საერთაშორისო სტანდარტები:</h3>
<p>სერტიფიცირების პროცესი ასევე ითვალისწინებს საერთაშორისო პრაქტიკას და ევროკავშირის დირექტივებს პროფესიული კვალიფიკაციის შესახებ.</p>

<p>ყველა საკანონმდებლო აქტის სრული ტექსტები ხელმისაწვდომია საქართველოს საკანონმდებლო ბაზაში (matsne.gov.ge).</p>

