.certificate-background {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 1123 / 793;
  background-image: url('architect bac.svg');
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  flex-shrink: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
  contain: layout style paint;
}


.certificate-background > div {
  position: absolute;
  border: solid 1px #000;
  font-family: 'DejaVu Sans', sans-serif;
  font-size: 16px;
  color: #3944B7;
  font-weight: 600;
  text-align: left;
  padding: 2px 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
}

.owner-1 {
  left: 10.33%;
  top: 32.91%;
  width: 58.24%;
  height: 3.53%;
}

.personal-number-1 {
  left: 13.33%;
  top: 36.82%;
  width: 10.42%;
  height: 2.36%;
}

.identification-code-1 {
  left: 74.58%;
  top: 87.01%;
  width: 11.27%;
  height: 2.52%;
}

.issue-date-1 {
  left: 11.49%;
  top: 68.07%;
  width: 7.57%;
  height: 2.14%;
}

.validity-period-1 {
  left: 34.10%;
  top: 72.26%;
  width: 3.65%;
  height: 2.02%;
}

.expiry-date-1 {
  left: 11.49%;
  top: 76.35%;
  width: 7.57%;
  height: 2.14%;
}

@font-face {
  font-family: 'BPG Nino Mtavruli Bold';
  src: url('../assets/fonts/bpg-nino-mtavruli-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.owner-1 {
  font-family: 'BPG Nino Mtavruli Bold', 'DejaVu Sans', sans-serif;
  font-size: 24pt;
  font-weight: 700;
  color: #3944B7;
}

.certificate-background .owner-1 {
  font-family: 'BPG Nino Mtavruli Bold', 'DejaVu Sans', sans-serif;
  font-size: 24pt;
  font-weight: 700;
  color: #3944B7;
  line-height: 1;
  padding: 7px 4px 0 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}